<!DOCTYPE html>
<html>
    <head>
        <title>BESTIES!</title>
    </head>
    <body>
        <h1>We're bestfriends!</h1>
        <img src="https://media.giphy.com/media/ZQ93aKxiClZOU/giphy.gif">
        <p>You got a perfect score! We're bestfriends! :)</p>
    </body>
</html>