<!DOCTYPE html>
<html>
    <head>
        <title>NOT FRIENDS!</title>
    </head>
    <body>
        <h1>We're not friends!</h1>
        <img src="https://media.giphy.com/media/WLbtNNR5TKJBS/giphy.gif">
        <p>Do you even know me???</p>
    </body>
</html>